*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

button{
    height: 100px;
    width:150px;
    margin-top: 300px;
}
body{
   
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 20px;
}
